# Connection string used to attach to the SQL database.
# Replace 'mysecretpassword' with the password you specified
# in compose.yml!
DATABASE_URL=postgresql://postgres:mysecretpassword@db:5432/cvr

# What address and port should the API listen on?
LISTEN_ADDRESS=0.0.0.0:8080